<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today-price">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>આજનો ભાવ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>હોમ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="cart"></ion-icon>
      <ion-label> ર્ઓર્ડર</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <!-- <ion-badge color="danger">2</ion-badge> -->
      <ion-label>સૂચના</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>