<ion-content>
  <ion-row class="header ion-align-items-center">
    <ion-col size="2" (click)="dismissModal()">
      <ion-img src="../../../assets/back.png" class="back-icon"></ion-img>
    </ion-col>
    <ion-col>
      <h2 class="p-0 m-0 title">વિગત</h2>
    </ion-col>
  </ion-row>
  <ion-row class="container">
    <div class="line">
      <ion-row class="product">
        <ion-col>
          <img class="product-pic" alt="product" src="{{this.productDetails.product_base_img}}">
        </ion-col>
        <ion-col size="8">
          <h2>{{this.productDetails.Product_name}}</h2>
          <!-- <h6>Premium Quality</h6> -->
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="data">
      <ion-col size="12">
        <label>ભાવ</label>
      </ion-col>
      <ion-col size="12">
        <span class="value">&#8377; {{this.productDetails.price}}</span>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="data">
      <ion-col size="12">
        <label>Category</label>
      </ion-col>
      <ion-col size="12">
        <span class="value">Super Premium</span>
      </ion-col>
    </ion-row> -->
    <ion-row class="data">
      <ion-col size="12">
        <label>વસ્તુની વિગત</label>
      </ion-col>
      <ion-col size="12">
        <span class="value">
          <p class="m-0" [innerHTML]=productDetails.products_description></p>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="quantity">
        <div class="number">
          <span class="minus" (click)="decrementQty()">-</span>
          <span class="input-quantity">{{qty}}</span>
          <span class="plus" (click)="incrementQty()">+</span>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="secondary"  (click)="addTocart()">
          <ion-icon name="cart"></ion-icon> ઓર્ડરમા ઉમેરો 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
