// variable scss
@import "../../../theme/variables.scss";

ion-card-header{
    ion-icon{
        font-size: 42px;
        float: left;
        margin-right: 10px;
    }
    display: flex;
    align-items: center;
}
.banner{
    .greetings{
        margin: 80px auto;
    }
    color: $textWhite;
    font-weight: bold;
    text-align: center;
    width: 100%;
    min-height: 250px;
}
ion-slides {
    height: 100%;
    margin-bottom: 20px;
}
.cards{
    background-color: $bgWhite;
}

.badge {
    position: absolute;
    right: 0;
    top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    background: red;
    color: #fff;
    letter-spacing: 2px;
    padding: 3px 4px;
}

.product-tumb {
    background: #f0f0f0;
    height: 120px;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}