<section class="forgot-password">
  <div class="text-uppercase text-center top-header">
    <div class="title">Forgot password</div>
  </div>
  <ion-grid>
    <form [formGroup]="forgotForm">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" class="ion-no-padding ion-no-margin">
          <ion-input class="input-mobile text-italic" type="text" placeholder="Email" formControlName="email">
          </ion-input>
        </ion-col>
        <div>
          <div *ngFor="let error of error_messages.email">
            <div class="error-message" *ngIf="forgotForm.get('email').hasError(error.type) &&
              (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
              {{ error.message }}
            </div>
          </div>
        </div>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
        <ion-col size="8" class="ion-no-padding ion-no-margin">
          <ion-button [disabled]="!forgotForm.valid" (click)="submitEmail(forgotForm)" size="default" color="secondary" class="text-uppercase"
            expand="full">
            Send
          </ion-button>
        </ion-col>
        <ion-col size="8" class="closemodal ion-no-padding ion-no-margin">
          <a (click)="dismissModal()">
            Close
          </a>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</section>